//--------------------------------------------------------------------------------------------------------------------------------------
// GRID SETTINGS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Define default grid attributes and any morphs which change the grid as it hits certain breakpoints
*/

$grid: (
	"default": (
		"responsive": true,
		"max-width": 1170px,
		"columns": 12,
		"gutter": 30px,
		"containerPadding": 30px
	),
	'morph': (
		"xlg" : (
			"max-width": 1600px,
			"columns": 16,
			"gutter": 30px,
			"containerPadding": 30px
		)
	)
);

//--------------------------------------------------------------------------------------------------------------------------------------
// GRID VARIABLES - DON'T EDIT
//--------------------------------------------------------------------------------------------------------------------------------------

// Get default attributes
$gridDefault: map-get($grid, "default");

// Set default variables
$responsive: map-get($gridDefault, "responsive");
$maxWidth: map-get($gridDefault, "max-width");
$columns: map-get($gridDefault, "columns");
$gutter: map-get($gridDefault, "gutter");
$containerPadding: map-get($gridDefault, "containerPadding");

// Set morph object variable
@if map-has-key($grid, "morph") {
	$gridResponsive: map-get($grid, "morph");
}

