//--------------------------------------------------------------------------------------------------------------------------------------
// GRID SETTINGS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Define default grid attributes and any morphs which change the grid as it hits certain breakpoints
*/

$grid: (
	"responsive": true,
	"default": (
		"max-width": 1170px,
		"columns": 12,
		"gutter": 30px,
		"containerPadding": 30px
	),
	"morph": (
		"lg2" : (
			"max-width": 1600px,
			"columns": 16,
			"gutter": 30px
		)
	)
);


// GRID VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------

// Get default attributes
$gridDefault: map-get($grid, "default");

// Set default variables
$responsive: map-get($grid, "responsive");
$maxWidth: map-get($gridDefault, "max-width");
$columns: map-get($gridDefault, "columns");
$gutter: map-get($gridDefault, "gutter");
$containerPadding: map-get($gridDefault, "containerPadding");
$gridMorph: null;

// Set morph object variable
@if map-has-key($grid, "morph") {
	$gridMorph: map-get($grid, "morph");
}