.kss-style {
  color: #2b2b2b;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.kss-style a {
  color: #2b2b2b;
  text-decoration: none;
}

.kss-style a:visited {
  color: #2b2b2b;
}

.kss-style a:hover, .kss-style a:focus {
  color: #5e5e5e;
}

.kss-style a:active {
  color: #2b2b2b;
}

.kss-style a:hover, .kss-style a:active {
  outline: 0;
}

.kss-style p {
  margin: 12px 0 24px 0;
}

.kss-style h1, .kss-style h2, .kss-style h3, .kss-style h4, .kss-style h5, .kss-style h6 {
  margin: 24px 0 0 0;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  color: #444;
  line-height: 1.15em;
}

.kss-style h1:first-child, .kss-style h2:first-child, .kss-style h3:first-child, .kss-style h4:first-child, .kss-style h5:first-child, .kss-style h6:first-child {
  margin-top: 0;
}

.kss-style h4, .kss-style h5, .kss-style h6 {
  font-weight: bold;
}

.kss-style h1 {
  font-size: 40px;
}

.kss-style h2 {
  font-size: 36px;
}

.kss-style h3 {
  font-size: 34px;
}

.kss-style h4 {
  font-size: 32px;
}

.kss-style h5 {
  font-size: 30px;
}

.kss-style h6 {
  font-size: 28px;
}

.kss-style blockquote {
  color: #666;
  margin: 0;
  padding-left: 24px;
  border-left: 0.5em #d9d9d9 solid;
}

.kss-style hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid #b5b5b5;
  margin: 24px 0;
  padding: 0;
}

.kss-style pre, .kss-style code, .kss-style kbd, .kss-style samp {
  font-family: Menlo, "Ubuntu Mono", "Lucida Console", "Courier New", Courier, monospace;
  color: #383838;
  font-size: 1em;
}

.kss-style pre {
  white-space: pre;
  overflow: scroll;
}

.kss-style ins {
  color: #444;
  background: #ff9;
  text-decoration: none;
}

.kss-style mark {
  color: #444;
  background: #ff0;
  font-weight: bold;
}

.kss-style sub, .kss-style sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.kss-style sup {
  top: -0.5em;
}

.kss-style sub {
  bottom: -0.25em;
}

.kss-style ul, .kss-style ol {
  margin: 0 0 0 24px;
  padding: 0;
}

.kss-style li p:last-child {
  margin: 0;
}

.kss-style dd {
  margin: 0 0 0 24px;
}

.kss-style img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

.kss-style table {
  border-collapse: collapse;
  border-spacing: 0;
}

.kss-style td {
  vertical-align: top;
}

@media print {
  .kss-style a, .kss-style a:visited {
    text-decoration: underline;
  }
  .kss-style hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }
  .kss-style a[href]:after {
    content: " (" attr(href) ")";
  }
  .kss-style a[href^="javascript:"]:after, .kss-style a[href^="#"]:after {
    content: "";
  }
  .kss-style abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .kss-style pre, .kss-style blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }
  .kss-style tr, .kss-style img {
    page-break-inside: avoid;
  }
  .kss-style img {
    max-width: 100% !important;
  }
  .kss-style p, .kss-style h2, .kss-style h3 {
    orphans: 3;
    widows: 3;
  }
  .kss-style h2, .kss-style h3 {
    page-break-after: avoid;
  }
}

#kss-node {
  margin: 0;
  padding: 20px;
  background: #fff;
}

#kss-node .kss-main {
  width: 100%;
  margin: 0 auto;
}

#kss-node .kss-sidebar {
  border-bottom: 1px solid #cecece;
}

@media screen and (min-width: 769px) {
  #kss-node {
    padding: 0;
    background: #fff;
  }
  #kss-node .kss-main,
  #kss-node .kss-sidebar {
    float: left;
    margin-right: -100%;
    box-sizing: border-box;
  }
  #kss-node .kss-main {
    width: 80%;
    margin-left: 20%;
    padding: 30px;
  }
  #kss-node .kss-sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #cecece;
    border-bottom: 0;
  }
}

@media screen and (min-width: 1500px) {
  #kss-node .kss-main {
    width: 85%;
    margin-left: 15%;
  }
  #kss-node .kss-sidebar {
    width: 15%;
  }
}

#kss-node .kss-nav {
  text-transform: capitalize;
}

#kss-node .kss-doc-title {
  margin: 0;
}

#kss-node .kss-header__logo {
  display: block;
  margin: 0 auto 15px auto;
  max-width: 80%;
  height: auto;
}

#kss-node .kss-nav__menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#kss-node .kss-nav__menu-item {
  display: inline-block;
  padding-right: 24px;
}

#kss-node .kss-nav__menu-child {
  display: none;
}

#kss-node .kss-nav__ref {
  display: none;
  color: #2b2b2b;
}

#kss-node .kss-nav__ref:after {
  content: ' ';
}

@media screen and (min-width: 769px) {
  #kss-node .kss-doc-title {
    font-size: 1.5em;
  }
  #kss-node .kss-header {
    padding: 15px;
    text-align: center;
  }
  #kss-node .kss-nav__menu-item {
    display: list-item;
    padding-right: 0;
  }
  #kss-node .kss-nav__menu-item .kss-nav__menu-item__link {
    display: block;
    padding: 20px;
    border-top: 1px solid #cecece;
  }
  #kss-node .kss-nav__menu-item:last-child {
    border-bottom: 1px solid #cecece;
  }
  #kss-node .kss-nav__menu-child {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0 20px 20px 20px;
  }
  #kss-node .kss-nav__menu-child .kss-nav__menu-child-item__link {
    display: block;
    padding: 5px 0;
  }
  #kss-node .kss-nav__ref:after {
    content: ") ";
  }
}

@media screen and (min-width: 1000px) {
  #kss-node .kss-header {
    padding: 30px;
  }
}

#kss-node {
  /* Pretty printing styles. Used with prettify.js. */
  /* SPAN elements with the classes below are added by prettyprint. */
  /* plain text */
  /* string content */
  /* a keyword */
  /* a comment */
  /* a type name */
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* a markup tag name */
  /* a markup attribute name */
  /* a markup attribute value */
  /* a declaration; a variable name */
  /* a function name */
  /* Use higher contrast and text-weight for printable form. */
  /* Specify class=linenums on a pre to get line numbering */
}

#kss-node .kss-section {
  max-width: 48em;
  margin-bottom: 48px;
}

#kss-node .kss-title {
  margin-bottom: 0;
}

#kss-node .kss-title__ref {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #666;
}

#kss-node .kss-title__ref:before {
  content: 'Section ';
}

#kss-node .kss-title__permalink {
  display: block;
  color: #444;
  text-decoration: none;
}

#kss-node .kss-title__permalink:hover, #kss-node .kss-title__permalink:focus, #kss-node .kss-title__permalink:active {
  color: #2b2b2b;
}

@media screen and (min-width: 607px) {
  #kss-node .kss-title__permalink:hover .kss-title__permalink-hash, #kss-node .kss-title__permalink:focus .kss-title__permalink-hash, #kss-node .kss-title__permalink:active .kss-title__permalink-hash {
    display: inline;
  }
}

#kss-node .kss-title__permalink-hash {
  display: none;
  color: #ccc;
}

#kss-node .kss-parameters {
  display: table;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#kss-node .kss-parameters__item {
  display: table-row;
}

#kss-node .kss-parameters__name {
  display: table-cell;
  padding-right: 20px;
}

#kss-node .kss-parameters__description {
  display: table-cell;
}

#kss-node .kss-modifier__wrapper {
  border: 1px solid #cecece;
  padding: 10px;
}

#kss-node .kss-modifier__heading {
  margin: -10px -10px 10px -10px;
  padding: 10px;
  border-bottom: 1px solid #cecece;
  background-color: #eee;
  font-weight: bold;
}

#kss-node .kss-modifier__default-name {
  font-weight: bold;
  margin-bottom: 12px;
}

#kss-node .kss-modifier__name {
  float: left;
  padding-right: 10px;
  font-weight: bold;
}

#kss-node .kss-modifier__description {
  margin-bottom: 12px;
}

#kss-node .kss-modifier__example {
  clear: left;
  padding: 1px 0;
  position: relative;
  margin: 0 0 23px 0;
}

#kss-node .kss-modifier__example:last-child {
  margin: 0;
}

#kss-node .kss-markup {
  margin: -1px 0 24px 0;
  border: 1px solid #cecece;
}

#kss-node .kss-markup pre {
  margin: 0;
}

#kss-node .kss-github {
  display: none;
}

@media screen and (min-width: 501px) {
  #kss-node .kss-github {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

#kss-node .kss-github img {
  border: 0;
}

#kss-node .pln {
  color: #000;
}

#kss-node .str {
  color: #080;
}

#kss-node .kwd {
  color: #008;
}

#kss-node .com {
  color: #800;
}

#kss-node .typ {
  color: #606;
}

#kss-node .lit {
  color: #066;
}

#kss-node .pun, #kss-node .opn, #kss-node .clo {
  color: #660;
}

#kss-node .tag {
  color: #008;
}

#kss-node .atn {
  color: #606;
}

#kss-node .atv {
  color: #080;
}

#kss-node .dec, #kss-node .var {
  color: #606;
}

#kss-node .fun {
  color: red;
}

@media print, projection {
  #kss-node .str {
    color: #060;
  }
  #kss-node .kwd {
    color: #006;
    font-weight: bold;
  }
  #kss-node .com {
    color: #600;
    font-style: italic;
  }
  #kss-node .typ {
    color: #404;
    font-weight: bold;
  }
  #kss-node .lit {
    color: #044;
  }
  #kss-node .pun, #kss-node .opn, #kss-node .clo {
    color: #440;
  }
  #kss-node .tag {
    color: #006;
    font-weight: bold;
  }
  #kss-node .atn {
    color: #404;
  }
  #kss-node .atv {
    color: #060;
  }
}

#kss-node ol.linenums {
  margin: 0;
  padding: 0 0 3px 0;
  list-style-type: none;
  /* Alternate shading for lines */
}

#kss-node ol.linenums li {
  min-height: 24px;
  border-bottom: 1px solid #cecece;
  padding: 0 10px;
  background: #fff;
}

#kss-node ol.linenums li:first-child {
  padding-top: 3px;
}

#kss-node ol.linenums li.L0,
#kss-node ol.linenums li.L2,
#kss-node ol.linenums li.L4,
#kss-node ol.linenums li.L6,
#kss-node ol.linenums li.L8 {
  background: #fcfcfc;
}
