// Define Page Variables Here
- var name = "LUKE PAGE"

// Include Variables
include partials/header

.container
	.clear.grid4.xlrg-clear.xlrg4 1
	.grid4.xlrg4 2
	.grid4.xlrg4 3
	.clear.grid4.xlrg4 4


<script src="js/core.min.js"></script>

<!--[if lt IE 9]>
<script src="js/ie8.js"></script>
<![endif]-->

</body>
</html>