// Define Page Variables Here
- var name = "LUKE PAGE"

// Include Variables
include partials/header

.container

	.clear.xlrg-clear.xlrg4 1
	.xlrg4 2
	.xlrg4 3
	.xlrg4 4

	.clear.xlrg-clear.xlrg4 1
	.xlrg2.xlrg-offset6 2 
	.xlrg4 3  


<script src="js/core.min.js"></script>

<!--[if lt IE 9]>
<script src="js/ie8.js"></script>
<![endif]-->

</body>
</html>