// Define Page Variables Here
- var name = "LUKE PAGE"

// Include Variables
include partials/header

.container
	.grid4.clear 1
	.grid4 2
	.grid4 3
	.grid4 4


<script src="js/core.min.js"></script>

<!--[if lt IE 9]>
<script src="js/ie8.js"></script>
<![endif]-->

</body>
</html>