// Define Page Variables Here
- var name = "LUKE PAGE"

// Include Variables
include partials/header

<script src="js/core.min.js"></script>

//- <!--[if lt IE 9]>
//- <script src="js/ie8.js"></script>
//- <![endif]-->

</body>
</html>