// Define Page Variables Here
- var name = "LUKE PAGE"

// Include Variables
include partials/header

div.o-container
	div.col-med-6 1
	div.col-med-2 2
	div.col-med-4 3

	div.col-med-2 3
	div.col-med-2 4
	div.col-med-4
		div.col-med-6 1
		div.col-med-6 2 
	div.col-med-4 5

	div.col-med-6 6
	div.col-med-6 7


<script src="js/core.min.js"></script>

//- <!--[if lt IE 9]>
//- <script src="js/ie8.js"></script>
//- <![endif]-->

</body>
</html>