//--------------------------------------------------------------------
// FRAMEWORK SETTINGS
//--------------------------------------------------------------------

// Should it be responsive?
$responsive: true;

// Should it be a responsive full width grid?
$fullWidth: false;

// Define Grid Parameters (1170gs default)
$columnWidth: 70px;
$gutter: 30px;
$columns: 12;
$padding: $gutter / 2;

// Pull Media Query Breakpoints from JS config using SassPort to convert JS object to SASS map
// To edit media query breakpoints edit the file referenced below
$breakpoints: require('temp/export-temp.js');

$info: require('dev/data/info.json');

// .testerJester {
// 	color:blue;
// 	background: map-get(map-get($info, "contact"), "email");
// }

