//--------------------------------------------------------------------
// FRAMEWORK SETTINGS
//--------------------------------------------------------------------

// Should it be responsive?
$responsive: true;

// Should it be a responsive full width grid?
$full-width: false;

// Define Grid Parameters (1170gs default)
$column-width: 70px;
$gutter: 30px;
$columns: 12;
$padding: $gutter / 2;

// Pull Media Query Breakpoints from JS config using SassPort to convert JS object to SASS map
// To edit media query breakpoints edit the file referenced below
$breakpoints: require('dev/js/configs/temp/export-temp.js');