// Pull config from JSON using SassPort to convert JSON to SASS map
$config: require('dev/data/config.json');
$gridConfig: map-get($config, "grid");
$gridDefault: map-get($gridConfig, "default");
$gridResponsive: map-get($gridConfig, "responsive");

// Should it be responsive?
$responsive: map-get($gridDefault, "responsive");

// Should it be a responsive full width grid?
$fullWidth: map-get($gridDefault, "full width");

// Define Grid Parameters (1170gs default)
$columnWidth: map-get($gridDefault, "column width");
$gutter: map-get($gridDefault, "gutter");
$columns: map-get($gridDefault, "columns");
$padding: map-get($gridDefault, "padding");

$breakpoints: map-get($config, "breakpoints");

