//--------------------------------------------------------------------
// MEDIA OBJECT
//--------------------------------------------------------------------

/*
Classic media object for layouts with image on one side and text on other.
http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
*/

//--------------------------------------------------------------------
// BASIC USAGE
//--------------------------------------------------------------------

/*
<div class="o-media">
	<img src="" alt="" class="o-media__image">
	<p class="o-media__body">
		CONTENT
	</p>
</div>
*/

//--------------------------------------------------------------------
// MODIFIERS
//--------------------------------------------------------------------

// Reverse the position of text and image

/*
<div class="o-media o-media--reverse">
	<img src="" alt="" class="o-media__image">
	<p class="o-media__body">
		CONTENT
	</p>
</div>
*/

// Wrap the text around the image

/*
<div class="o-media o-media--wrap">
	<img src="" alt="" class="o-media__image">
	<p class="o-media__body">
		CONTENT
	</p>
</div>
*/

//--------------------------------------------------------------------
// SASS
//--------------------------------------------------------------------

.o-media {
	@include clearfix();
	box-sizing:border-box;
	padding:$spacing-unit;
}

.o-media__image {
	float:left;
	margin: 0 $spacing-unit 0 0;

	img {
		display:block;
	}

	// Modifier class to put image on right instead of left
	.o-media--reverse & {
		float:right;
		margin: 0 0 0 $spacing-unit;
	}
}

.o-media__body {
	@include clearfix(); 
	overflow:hidden;

	// Modifier class for media body to make text wrap around image
	.o-media--wrap & {
		overflow:visible;
	}	
}
