//--------------------------------------------------------------------------------------------------------------------------------------
// BOX OBJECT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Boxes off content
http://csswizardry.com/2011/10/the-island-object/
*/


// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<div class="o-box-tiny@md">
	CONTENT
</div>
*/

/*
[1] So we can apply the `.o-box` class to naturally-inline elements.
*/

[class*="o-box"] {
	@include clearfix();
	display: block; /* [1] */
}

/*
Generates variants in padding size using data from settings.spacing
*/

// Generate using settings.spacing
@each $sp-name, $sp-value in $spacing {
	.o-box-#{$sp-name} {
		padding:rem($sp-value);
	}
}

// Create responsive variants using data/breakpoints.json
@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-box-#{$sp-name}\@#{$bp-name} {
				padding:rem($sp-value);
			}
		}
	}
}


// VERTICAL MODIFIER
//--------------------------------------------------------------------------------------------------------------------------------------

/*
A modifier which makes the box padding vertical only.
*/

/*
<div class="o-box o-box--vertical">
	CONTENT
</div>
*/

.o-box--vertical {
	padding-left:0;
	padding-right:0;
}


// HORIZONTAL MODIFIER
//--------------------------------------------------------------------------------------------------------------------------------------

/*
A modifier which makes the box padding vertical only.
*/

/*
<div class="o-box o-box--horizontal">
	CONTENT
</div>
*/

.o-box--horizontal {
	padding-top:0;
	padding-bottom:0;
}