//--------------------------------------------------------------------
// GRID SYSTEM
//--------------------------------------------------------------------

/*
Grid system container, columns and optional rows. Specify responsive breakpoints in /data/config.js.
*/

//--------------------------------------------------------------------
// USAGE
//--------------------------------------------------------------------

/*
<div class="o-container">
	<div class="o-col-4 o-col-1@md"></div>
	<div class="o-col-4 o-col-5@md"></div>
	<div class="o-col-4 o-col-6@md"></div>
</div>
*/

//--------------------------------------------------------------------
// CREATE  CONTAINER MIXIN
//--------------------------------------------------------------------

@mixin create_container($columnWidth, $columns, $gutter, $padding, $fullWidth, $responsive) {

	@if $fullWidth == true {
		$responsive: true;
	}

	$width: ($columnWidth * $columns) - $gutter;

	// Set Base Container
	.o-container {
		@if $fullWidth == true {
			max-width:100%;
		}
		@else if $responsive == true {
			max-width:$width;
		}
		@else {
			width:$width;
		}
		@include clearfix();
		margin:0px auto;
		position:relative;
		padding: 0 $padding 0 $padding;
		box-sizing: content-box;
	}

	.o-container--full {
		max-width:100%;
		padding: 0; 
	}
}

//----------------------------------------------------------------------------------------------------
// CREATE ROW OBJECT
//----------------------------------------------------------------------------------------------------

.o-row {
	margin-left:-$gutter / 2;
	margin-right:-$gutter / 2;
	@include clearfix();
}

//--------------------------------------------------------------------
// CREATE COLUMNS MIXIN
//--------------------------------------------------------------------

@mixin create_columns($prefix, $columnWidth, $columns, $gutter, $padding, $fullWidth, $responsive) {

	$width: ($columnWidth * $columns) - $gutter;

	// Define Individual Grid Classes
	@for $i from 1 to $columns {
		// Calculate grid size in pixels
		$grid: ($width / $columns) * $i;

		// Calculate responsive grid sizes if required
		@if $responsive == true {
			// Calculate grid size in percentage
			$grid: ($grid / $width) * 100%;

			// Get Gutter Percentage for Grids
			$gutter-percentage: ($gutter / $width) * 100%;

			// Example: o-col-6@md
			.o-col-#{$i}#{$prefix} {
				width: $grid;
				float: left;
				clear:none;
				padding-left:$gutter / 2;
				padding-right:$gutter / 2;
				box-sizing: border-box;
			}

		}
		@else
		{
			// Example o-col-6
			.o-col-#{$i} {
				width: $grid;
				float: left;
				padding-left:$gutter / 2;
				padding-right:$gutter / 2;
				box-sizing: border-box;
			}
		}
	}

	// Define Additional Full Width Variants & Clear Classes For Responsive Classes Only
	@if $prefix != "col" {
		// Example 	o-col-full@md
		.o-col-full#{$prefix} {
			width:100%;
			float:none;
			clear:both;
			margin-left:0;
			box-sizing: border-box;
		}
	}
}

//----------------------------------------------------------------------------------------------------
// GENERATE DEFAULT CONTAINER AND GRID CLASSES
//----------------------------------------------------------------------------------------------------

// Default container
@include create_container($columnWidth, $columns, $gutter, $padding, $fullWidth, $responsive);
@include create_columns(null, $columnWidth, $columns, $gutter, $padding, $fullWidth, $responsive);

//----------------------------------------------------------------------------------------------------
// GENERATE RESPONSIVE CONTAINER AND GRID CLASSES
//----------------------------------------------------------------------------------------------------

// Generate repsonsive classes and containers. If we need to change grid as per responsive container config redefine variables
@each $bp-name, $bp-value in $breakpoints	{

	@if variable-exists(gridResponsive) {
		@if map-has-key($gridResponsive, $bp-name) {

			// Get grid match
			$bp-obj: map-get($gridResponsive, $bp-name);

			$columnWidth: map-get($bp-obj, "column width");
			$gutter: map-get($bp-obj, "gutter");
			$columns: map-get($bp-obj, "columns");
			$padding: map-get($bp-obj, "padding");

			@include bp(#{$bp-name}) {
				@include create_container($columnWidth, $columns, $gutter, $padding, $fullWidth, $responsive);
			}
		}
	}

	@include bp(#{$bp-name}) {
		@include create_columns(\@#{$bp-name}, $columnWidth, $columns, $gutter, $padding, $fullWidth, $responsive);
	}
}