//--------------------------------------------------------------------------------------------------------------------------------------
// MEDIA OBJECT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Classic media object for layouts with image on one side and text on other.
http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
*/


// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<div class="o-media">
	<img src="" alt="" class="o-media__image">
	<p class="o-media__body">
		CONTENT
	</p>
</div>
*/

.o-media {
	@include clearfix();
	box-sizing:border-box;
}

.o-media__image {
	float:left;
	margin-right:$spacing-unit;

	img {
		display:block;
	}
}

.o-media__body {
	@include clearfix(); 
	overflow:hidden;
}


// REVERSE ORDER MODIFIER
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Reverse the position of text and image
*/

/*
<div class="o-media o-media--reverse">
	<img src="" alt="" class="o-media__image">
	<p class="o-media__body">
		CONTENT
	</p>
</div>
*/

.o-media--reverse > .o-media__image {
	float:right;
	margin-left:$spacing-unit;
}


// TEXT WRAP MODIFIER
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Wrap the text around the image
*/

/*
<div class="o-media o-media--wrap">
	<img src="" alt="" class="o-media__image">
	<p class="o-media__body">
		CONTENT
	</p>
</div>
*/

.o-media--wrap > .o-media__body {
	overflow:visible;
}


// SPACING VARIANT MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Alter the spacing in between image and text
*/

/*
<div class="o-media o-media--spacing-tiny">
	<img src="" alt="" class="o-media__image">
	<p class="o-media__body">
		CONTENT
	</p>
</div>
*/

.o-media-spacing-tiny {
	& > .o-media__image {
		margin-right:$spacing-unit-tiny;
	}

	&.o-media--reverse > .o-media__image {
		margin-left:$spacing-unit-tiny;
	}
}

.o-media-spacing-small {
	& > .o-media__image {
		margin-right:$spacing-unit-small;
	}

	&.o-media--reverse > .o-media__image {
		margin-left:$spacing-unit-small;
	}
}

.o-media-spacing-large {
	& > .o-media__image {
		margin-right:$spacing-unit-large;
	}

	&.o-media--reverse > .o-media__image {
		margin-left:$spacing-unit-large;
	}
}

.o-media-spacing-huge {
	& > .o-media__image {
		margin-right:$spacing-unit-huge;
	}

	&.o-media--reverse > .o-media__image {
		margin-left:$spacing-unit-huge;
	}
}