// Pull config from JSON using SassPort to convert JSON to SASS map
$config: require('dev/data/config.js');
$gridConfig: map-get($config, "grid");
$gridDefault: map-get($gridConfig, "default");

@if map-has-key($gridConfig, "morph") {
	$gridResponsive: map-get($gridConfig, "morph");
}

$responsive: map-get($gridDefault, "responsive");
$fullWidth: map-get($gridDefault, "full width");
$columnWidth: map-get($gridDefault, "column width");
$gutter: map-get($gridDefault, "gutter");
$columns: map-get($gridDefault, "columns");
$padding: map-get($gridDefault, "padding");
$breakpoints: map-get($config, "breakpoints");

