/*
SASS 'Orion' Framework
Author: Luke Harrison
Web: www.lukeharrison.net
Github: https://github.com/Silveredge9/Orion-Framework
Email: luke@lukeharrison.net
*/

// This is the the primary style sheet. Before you begin please review the config partial if you wish to tweak the settings and add default styles.

// Import Standard Framework Components
@import "partials/globals";
@import "partials/reset";
@import "partials/rebuild";
@import "partials/mixins";
@import "partials/framework";


//--------------------------------------------------------------------
// PROJECT STYLES
//--------------------------------------------------------------------

.container div {
	background:#ccc;
	margin-bottom:30px;
}