/*
Orion Framework
Author: Luke Harrison
Web: www.lukeharrison.net
Github: https://github.com/WebDevLuke/Orion-Framework
Email: luke@lukeharrison.net
*/

// Implements ITCSS (https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture) and BEM
// Takes good ideas from inuitcss (https://github.com/inuitcss/inuitcss)

//--------------------------------------------------------------------
// SETTINGS
//--------------------------------------------------------------------

// Used with preprocessors and contain font, colors definitions, etc.

@import "01 - settings/settings.globals";
@import "01 - settings/settings.typography";


//--------------------------------------------------------------------
// TOOLS
//--------------------------------------------------------------------

// Globally used mixins and functions. It’s important not to output any CSS in the first 2 layers.

@import "02 - tools/tools.clearfix";
@import "02 - tools/tools.content-grid";
@import "02 - tools/tools.responsive-breakpoints";


//--------------------------------------------------------------------
// GENERIC
//--------------------------------------------------------------------

// Reset and/or normalize styles, box-sizing definition, etc. This is the first layer which generates actual CSS.

@import "03 - generic/generic.normalize";
@import "03 - generic/generic.reset";


//--------------------------------------------------------------------
// ELEMENTS
//--------------------------------------------------------------------

// Styling for bare HTML elements (like H1, A, etc.). These come with default styling from the browser so we can redefine them here.

@import "04 - elements/elements.page";
@import "04 - elements/elements.images";
@import "04 - elements/elements.headers";


//--------------------------------------------------------------------
// OBJECTS
//--------------------------------------------------------------------

// Class-based selectors which define undecorated design patterns, for example media object known from OOCSS

@import "05 - objects/objects.framework";


//--------------------------------------------------------------------
// COMPONENTS
//--------------------------------------------------------------------

// Specific UI components. This is where majority of our work takes place and our UI components are often composed of Objects and Components


//--------------------------------------------------------------------
// UTILITIES
//--------------------------------------------------------------------

// Utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class

@import "07 - utilities/utilities.show-hide";

