/*
SASS 'Orion' Framework
Author: Luke Harrison
Web: www.lukeharrison.net
Github: https://github.com/WebDevLuke/Orion-Framework
Email: luke@lukeharrison.net
*/

// Tries to implement ITCSS (https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture) and BEM

//--------------------------------------------------------------------
// IMPORT COMPONENTS
//--------------------------------------------------------------------

// Settings
@import "settings/globals";

// Tools
@import "tools/mixins";

// Generic
@import "generic/reset";

// Elements
@import "elements/rebuild";

// Objects
@import "objects/framework";

// Components

// Trumps
