//--------------------------------------------------------------------------------------------------------------------------------------
// MARGIN UTILITIES
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Utility classes to add simple margin styles

Generates standard and responsive variants using spacing map located in settings.spacing and
responsive breakpoints located in dev/data/breakpoints

u-margin-top-huge
u-margin-top-huge@xlg
*/

// MARGIN TOP
//--------------------------------------------------------------------------------------------------------------------------------------

@each $sp-name, $sp-value in $spacing {
	.u-margin-top-#{$sp-name} {
		margin-top:rem($sp-value) !important;
	}
}

@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-top-#{$sp-name}\@#{$bp-name} {
				margin-top:rem($sp-value) !important;
			}
		}
	}
}


// MARGIN RIGHT
//--------------------------------------------------------------------------------------------------------------------------------------

@each $sp-name, $sp-value in $spacing {
	.u-margin-right-#{$sp-name} {
		margin-right:rem($sp-value) !important;
	}
}

@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-right-#{$sp-name}\@#{$bp-name} {
				margin-right:rem($sp-value) !important;
			}
		}
	}
}


// MARGIN BOTTOM
//--------------------------------------------------------------------------------------------------------------------------------------

@each $sp-name, $sp-value in $spacing {
	.u-margin-bottom-#{$sp-name} {
		margin-bottom:rem($sp-value) !important;
	}
}

@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-bottom-#{$sp-name}\@#{$bp-name} {
				margin-bottom:rem($sp-value) !important;
			}
		}
	}
}


// MARGIN LEFT
//--------------------------------------------------------------------------------------------------------------------------------------

@each $sp-name, $sp-value in $spacing {
	.u-margin-left-#{$sp-name} {
		margin-left:rem($sp-value) !important;
	}
}

@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-left-#{$sp-name}\@#{$bp-name} {
				margin-left:rem($sp-value) !important;
			}
		}
	}
}

