//----------------------------------------------------------------------------------------------------
// SHOWING / HIDING OVERRIDES
//----------------------------------------------------------------------------------------------------

// Standard
.u-hide {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

.u-display-block {
	display:block !important;
}

.u-display-inline-block {
	display:inline-block !important;
}

// Responsive
@each $bp-name, $bp-value in $breakpoints {

	@include bp(#{$bp-name}) {

		.u-hide\@#{$bp-name} {
			border: 0 !important;
			clip: rect(0 0 0 0) !important;
			height: 1px !important;
			margin: -1px !important;
			overflow: hidden !important;
			padding: 0 !important;
			position: absolute !important;
			width: 1px !important;
		}

		.u-display-block\@#{$bp-name} {
			display:block !important;
		}

		.u-display-inline-block\@#{$bp-name} {
			display:inline-block !important;
		}	
	}
}