//--------------------------------------------------------------------------------------------------------------------------------------
// MARGIN UTILITIES
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Utility classes to add simple margin styles
*/

// MARGIN TOP
//--------------------------------------------------------------------------------------------------------------------------------------

.u-margin-top-none {
	margin-top:0 !important;
}

.u-margin-top-extra-tiny {
	margin-top:rem(5px) !important;
}

.u-margin-top-tiny {
	margin-top:rem(10px) !important;
}

.u-margin-top-small {
	margin-top:rem(20px) !important;
}

.u-margin-top {
	margin-top:rem(30px) !important;
}

.u-margin-top-large {
	margin-top:rem(40px) !important;
}

.u-margin-top-huge {
	margin-top:rem(50px) !important;
}


// MARGIN RIGHT
//--------------------------------------------------------------------------------------------------------------------------------------

.u-margin-right-none {
	margin-right:0 !important;
}

.u-margin-right-extra-tiny {
	margin-right:rem(5px) !important;
}

.u-margin-right-tiny {
	margin-right:rem(10px) !important;
}

.u-margin-right-small {
	margin-right:rem(20px) !important;
}

.u-margin-right {
	margin-right:rem(30px) !important;
}

.u-margin-right-large {
	margin-right:rem(40px) !important;
}

.u-margin-right-huge {
	margin-right:rem(50px) !important;
}


// MARGIN BOTTOM
//--------------------------------------------------------------------------------------------------------------------------------------

.u-margin-bottom-none {
	margin-bottom:0 !important;
}

.u-margin-bottom-extra-tiny {
	margin-bottom:rem(5px) !important;
}

.u-margin-bottom-tiny {
	margin-bottom:rem(10px) !important;
}

.u-margin-bottom-small {
	margin-bottom:rem(20px) !important;
}

.u-margin-bottom {
	margin-bottom:rem(30px) !important;
}

.u-margin-bottom-large {
	margin-bottom:rem(40px) !important;
}

.u-margin-bottom-huge {
	margin-bottom:rem(50px) !important;
}


// MARGIN LEFT
//--------------------------------------------------------------------------------------------------------------------------------------

.u-margin-left-none {
	margin-left:0 !important;
}

.u-margin-left-extra-tiny {
	margin-left:rem(5px) !important;
}

.u-margin-left-tiny {
	margin-left:rem(10px) !important;
}

.u-margin-left-small {
	margin-left:rem(20px) !important;
}

.u-margin-left {
	margin-left:rem(30px) !important;
}

.u-margin-left-large {
	margin-left:rem(40px) !important;
}

.u-margin-left-huge {
	margin-left:rem(50px) !important;
}


// RESPONSIVE
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Example: .u-margin-top@xlg
*/

@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {

		// MARGIN TOP
		//--------------------------------------------------------------------------------------------------------------------------------------

		.u-margin-top-none\@#{$bp-name}  {
			margin-top:0 !important;
		}

		.u-margin-top-extra-tiny\@#{$bp-name}  {
			margin-top:rem(5px) !important;
		}

		.u-margin-top-tiny\@#{$bp-name}  {
			margin-top:rem(10px) !important;
		}

		.u-margin-top-small\@#{$bp-name}  {
			margin-top:rem(20px) !important;
		}

		.u-margin-top\@#{$bp-name}  {
			margin-top:rem(30px) !important;
		}

		.u-margin-top-large\@#{$bp-name}  {
			margin-top:rem(40px) !important;
		}

		.u-margin-top-huge\@#{$bp-name}  {
			margin-top:rem(50px) !important;
		}


		// MARGIN RIGHT
		//--------------------------------------------------------------------------------------------------------------------------------------

		.u-margin-right-none\@#{$bp-name}  {
			margin-right:0 !important;
		}

		.u-margin-right-extra-tiny\@#{$bp-name}  {
			margin-right:rem(5px) !important;
		}

		.u-margin-right-tiny\@#{$bp-name}  {
			margin-right:rem(10px) !important;
		}

		.u-margin-right-small\@#{$bp-name}  {
			margin-right:rem(20px) !important;
		}

		.u-margin-right\@#{$bp-name}  {
			margin-right:rem(30px) !important;
		}

		.u-margin-right-large\@#{$bp-name}  {
			margin-right:rem(40px) !important;
		}

		.u-margin-right-huge\@#{$bp-name}  {
			margin-right:rem(50px) !important;
		}


		// MARGIN BOTTOM
		//--------------------------------------------------------------------------------------------------------------------------------------

		.u-margin-bottom-none\@#{$bp-name}  {
			margin-bottom:0 !important;
		}

		.u-margin-bottom-extra-tiny\@#{$bp-name}  {
			margin-bottom:rem(5px) !important;
		}

		.u-margin-bottom-tiny\@#{$bp-name}  {
			margin-bottom:rem(10px) !important;
		}

		.u-margin-bottom-small\@#{$bp-name}  {
			margin-bottom:rem(20px) !important;
		}

		.u-margin-bottom\@#{$bp-name}  {
			margin-bottom:rem(30px) !important;
		}

		.u-margin-bottom-large\@#{$bp-name}  {
			margin-bottom:rem(40px) !important;
		}

		.u-margin-bottom-huge\@#{$bp-name}  {
			margin-bottom:rem(50px) !important;
		}


		// MARGIN LEFT
		//--------------------------------------------------------------------------------------------------------------------------------------

		.u-margin-left-none\@#{$bp-name}  {
			margin-left:0 !important;
		}

		.u-margin-left-extra-tiny\@#{$bp-name}  {
			margin-left:rem(5px) !important;
		}

		.u-margin-left-tiny\@#{$bp-name}  {
			margin-left:rem(10px) !important;
		}

		.u-margin-left-small\@#{$bp-name}  {
			margin-left:rem(20px) !important;
		}

		.u-margin-left\@#{$bp-name}  {
			margin-left:rem(30px) !important;
		}

		.u-margin-left-large\@#{$bp-name}  {
			margin-left:rem(40px) !important;
		}

		.u-margin-left-huge\@#{$bp-name}  {
			margin-left:rem(50px) !important;
		}

	}
}