//----------------------------------------------------------------------------------------------------
// SHOWING / HIDING OVERRIDES
//----------------------------------------------------------------------------------------------------

// Standard
.u-hide {
	display:none !important;
}

.u-show {
	display:block !important;
}

.u-show-inline {
	display:inline-block !important;
}

// Responsive
@each $bp-name, $bp-value in $breakpoints	{

	@include bp(#{$bp-name}) {

		.u-hide\@#{$bp-name} {
			display:none !important;
		}
		.u-show\@#{$bp-name} {
			display:block !important;
		}
		.u-show--inline\@#{$bp-name} {
			display:inline-block !important;
		}
	
	}
}