//--------------------------------------------------------------------------------------------------------------------------------------
// FLOAT CLASSES
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Utility class for floats
*/

// STANDARD
//--------------------------------------------------------------------------------------------------------------------------------------

.u-float-left {
	float:left !important;
}

.u-float-right {
	float:right !important;
}

.u-clear {
	clear: both !important;
}


// RESPONSIVE
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Example: .u-clear@xlg
*/

@each $bp-name, $bp-value in $breakpoints	{
	@include bp(#{$bp-name}) {
		.u-float-left\@#{$bp-name} {
			float:left !important;
		}

		.u-float-right\@#{$bp-name} {
			float:right !important;
		}

		.u-clear\@#{$bp-name} {
			clear: both !important;
		}		
	}
}