//--------------------------------------------------------------------------------------------------------------------------------------
// CREATE COLUMN OFFSETS  MIXIN
//--------------------------------------------------------------------------------------------------------------------------------------

@mixin create_offsets($prefix, $responsive, $maxWidth, $columns, $gutter, $padding) {

	// Calculate single column width in pixels
	$widthPX: $maxWidth / $columns;

	// Calculate single column width in percentage
	$widthPercentage: ($widthPX / $maxWidth) * 100%;

	// Define Grid Offsets
	@for $i from 1 to $columns {

		// Calculate responsive grid sizes if required
		@if $responsive == true {

			// Multiple width % by the column size
			$widthPercentage: $widthPercentage * $i;

			// Example u-col-offset-4@md
			.u-col-offset-#{$i}#{$prefix}	{
				margin-left:$widthPercentage !important;
			}

		}
		@else {
			// Example u-col-offset-4
			.u-col-offset-#{$i}	{
				margin-left:$widthPX !important;
			}
		}
	}
}


// GENERATE DEFAULT COLUMN OFFSET CLASSES
//--------------------------------------------------------------------------------------------------------------------------------------

@include create_offsets(null, $columnWidth, $columns, $gutter, $padding, $responsive);


// GENERATE RESPONSIVE COLUMN OFFSET CLASSES
//--------------------------------------------------------------------------------------------------------------------------------------

// Responsive
@each $bp-name, $bp-value in $breakpoints	{
	@include bp(#{$bp-name}) {
		@include create_offsets(\@#{$bp-name}, $columnWidth, $columns, $gutter, $padding, $responsive);
	}
}