//--------------------------------------------------------------------------------------------------------------------------------------
// TRUNCATE UTILITY
//--------------------------------------------------------------------------------------------------------------------------------------

/*
A simple utility class to truncate text
*/


// STANDARD
//--------------------------------------------------------------------------------------------------------------------------------------

.u-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}