//--------------------------------------------------------------------------------------------------------------------------------------
// HEADINGS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Component classes for headings
*/

// npm-run kss-node dev/sass styleguide --css ../dist/css/style.css


// Headings
//
// Your standard button suitable for clicking.
//
// .in-mycomponent.c-heading-page  - When in mycomponent
//
// Style guide: components.headings
//
// Markup:
// <h1 class="c-heading-page {{modifier_class}}">Hello</h1>


// SASS
//--------------------------------------------------------------------------------------------------------------------------------------

.c-heading-page {
	font-size:2em;
	color:red;
}


// CONTEXT SPECIFIC STYLING
//--------------------------------------------------------------------------------------------------------------------------------------

/*
If a component needs to be positioned differently within another component add those styles here.
These should be only implmentation based styles such as floats or positioning. None of these should change
the cosmetics of the component.

We use stateful classes rather than nesting to avoid violating the open/closed principle and to avoid future 
complications if we need to extend the component.

http://csswizardry.com/2015/06/contextual-styling-ui-components-nesting-and-implementation-detail/
*/

.in-mycomponent.c-heading-page {
	color:green;
}