//--------------------------------------------------------------------
// HEADERS
//--------------------------------------------------------------------

h1 {
	font-size:18px;
}

@include bp(med) {
	h1 {
		font-size:24px;
	}
}

@include bp(lrg) {
	h1 {
		font-size:32px;
	}
}	