//--------------------------------------------------------------------------------------------------------------------------------------
// HTML STYLES
//--------------------------------------------------------------------------------------------------------------------------------------

html {
  font-size: $global-font-size;
  line-height: $global-line-height;
  overflow-y: scroll;
  min-height: 100%;
}